<!DOCKTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <h1>Welcome to Quipper! Please login or register below!</h1>

    <a href="/login">
      <input type="button" value="Login" />
    </a>
    <a href="/register">
      <input type="button" value="Register" />
    </a>
    </form>
  </body>

</html>
